#jfe-modals{
    height: 100%;
    width: 100%;
}

#jfe-modals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
}

.jfe-verse-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 0.4rem;*/
    min-width: 600px;
    padding: 0px;
    min-height: 10px;
    position: absolute;
    top: 10%;
    background-color: white;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
    z-index: 2;
}

.jfe-verse-danger{
    background-color: #d9534f;
    color: rgb(255, 241, 241);
}

.jfe-verse-primary{
    background-color: #65b354;
    color: white;
}

.jfe-verse-default{
    background-color: #f5f5f5;
    color: #444444;
}

.jfe-verse-modal-header{
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2em;
}

.jfe-verse-modal-body{
    display: flex;
    flex-direction: column;
}

.jfe-verse-modal-content{
    padding: 15px;
}

.jfe-verse-modal-footer{
    min-height: 3.5em;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
}

.jfe-verse-modal-header-close{
    margin-top: -2px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.jfe-verse-modal-header-close:hover{
    opacity: .5;
}

.jfe-verse-modal-title{
    margin: 0;
    font-weight:300;
    /*line-height: 1.42857143;*/
}

.jfe-verse-modal-form{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
}

.jfe-verse-modal-form-field-container{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

/* == Это можно не вводить в КИС == */
.jfe-verse-btn{
    outline: none !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 5px 10px;
}

.jfe-verse-btn-success{
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #55b555;
}

.jfe-verse-btn-success:hover,
.jfe-verse-btn-success:active,
.jfe-verse-btn-success.active,
.jfe-verse-btn-success.disabled,
.jfe-verse-btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  /**background-color: #499249;*/
}

.jfe-verse-btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    border-left-color: #bd362f;
    border-right-color: #bd362f;
    border-top-color: #bd362f;
    border-bottom-color: #802420;
}

.jfe-verse-btn-danger:hover,
.jfe-verse-btn-danger:active,
.jfe-verse-btn-danger.active,
.jfe-verse-btn-danger.disabled,
.jfe-verse-btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
}

.jfe-verse-btn-default {
    color: #444;
    background-color: #efefef;
    border-color: #e5e5e5;
}

/* ================================ */

.spinner-container-small{
    height: 1em;
    width: 1em;
}

.spinner-container-medium{
    height: 10em;
    width: 10em;
}

.spinner-container-large{
    height: 20em;
    width: 20em;
}

.spinner-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.spinner-size-container{
    position:relative;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.spinner-container{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    position:absolute;
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spinner-container-stretch-w{
    --w: 100%;
    width: calc(var(--w))
}

.spinner-container-ratio-w{
    /*--h: 100%;
    height: var(--h);*/
    padding-top: 100%;
    /*aspect-ratio: 1 / 1;*/
    position: relative;
}

.spinner-circle{
    position: absolute;
    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(175, 175, 175);

    border-radius: 100%;
    top: 0;
    left: 0;
    /*animation: 1500ms spinner-circle infinite linear;*/
    /*animation: 1s linear -0.153846s infinite normal none running spinner-circle;*/
}

.spinner-container-small{
    position: relative;
    height: 1em;
    width: 1em;
}

.spinner-container-medium{
    position: relative;
    height: 3em;
    width: 3em;
}

.spinner-container-large{
    position: relative;
    height: 7em;
    width: 7em;
}

.spinner{
    border-radius: 100%;
    width: 0.2em;
    height: 0.2em;
    animation: spinner 1500ms infinite linear;
    /*background-color: rgb(0, 75, 119);*/
    box-shadow:
    rgb(0, 75, 119) 0.5em 0 0 0, 
    rgb(0, 75, 119) 0.354em 0.354em 0 0, 
    rgb(0, 75, 119) 0 0.5em 0 0, 
    rgb(0, 75, 119) -0.354em 0.354em 0 0, 
    rgb(0, 75, 119) -0.5em 0 0 0, 
    rgb(0, 75, 119) -0.354em -0.354em 0 0, 
    rgb(0, 75, 119) 0 -0.5em 0 0, 
    rgb(0, 75, 119) 0.354em -0.354em 0 0;
}

/*let resStr = ""; for(let i = 0; i < 10; i++){ resStr += i + `0%{\n\trotate: ${36 * i}deg;\n}\n`; }; console.log(resStr);*/

@keyframes spinner-circle{
    00%{
        rotate: 0deg;
    }
    5%{
        rotate: 36deg;
    }
    10%{
        rotate: 72deg;
    }
    15%{
        rotate: 108deg;
    }
    20%{
        rotate: 144deg;
    }
    25%{
        rotate: 180deg;
    }
    30%{
        rotate: 205deg;
    }
    35%{
        rotate: 230deg;
    }
    40%{
        rotate: 255deg;
    }
    45%{
        rotate: 324deg;
    }
    50%{
        rotate: 360deg;
    }
    55%{
        rotate: 396deg;
    }
    60%{
        rotate: 432deg;
    }
    65%{
        rotate: 468deg;
    }
    70%{
        rotate: 504deg;
    }
    75%{
        rotate: 540deg;
    }
    80%{
        rotate: 576deg;
    }
    85%{
        rotate: 612deg;
    }
    90%{
        rotate: 648deg;
    }
    95%{
        rotate: 684deg;
    }
    100%{
        rotate: 720deg;
    }
}




@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow:
        rgb(0, 75, 119) 0.5em 0 0 0, 
        rgb(0, 75, 119) 0.354em 0.354em 0 0, 
        rgb(0, 75, 119) 0 0.5em 0 0, 
        rgb(0, 75, 119) -0.354em 0.354em 0 0, 
        rgb(0, 75, 119) -0.5em 0 0 0, 
        rgb(0, 75, 119) -0.354em -0.354em 0 0, 
        rgb(0, 75, 119) 0 -0.5em 0 0, 
        rgb(0, 75, 119) 0.354em -0.354em 0 0;
    }
    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        box-shadow:
        rgb(0, 75, 119) 0.5em 0em 0 0, rgb(0, 75, 119) 0.3909157412340149em 0.31174490092936674em 0 0, rgb(0, 75, 119) 0.11126046697815722em 0.4874639560909118em 0 0, rgb(0, 75, 119) -0.21694186955877903em 0.4504844339512096em 0 0, rgb(0, 75, 119) -0.4504844339512095em 0.21694186955877912em 0 0, rgb(0, 75, 119) -0.4874639560909118em -0.11126046697815714em 0 0, rgb(0, 75, 119) -0.31174490092936685em -0.39091574123401485em 0 0, rgb(0, 75, 119) -9.184850993605148e-17em -0.5em 0 0;
    }


    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow:
        rgb(0, 75, 119) 0.5em 0 0 0, 
        rgb(0, 75, 119) 0.354em 0.354em 0 0, 
        rgb(0, 75, 119) 0 0.5em 0 0, 
        rgb(0, 75, 119) -0.354em 0.354em 0 0, 
        rgb(0, 75, 119) -0.5em 0 0 0, 
        rgb(0, 75, 119) -0.354em -0.354em 0 0, 
        rgb(0, 75, 119) 0 -0.5em 0 0, 
        rgb(0, 75, 119) 0.354em -0.354em 0 0;
    }
  }